* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}
.block{
    margin: 100px auto;
    height: 400px;
    width: 350px;
    background: lightblue;
    padding-top: 20px;
    border-radius: 20px;
    border: 3px solid black;
    position: relative;
}
.block:before{
    content: "";
    border: 10px solid black;
    position: absolute;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    z-index: -1;
    top: -50px;
    left: 33%;
}
.butonlab{
    width: 10px;
    margin-left: 50px;
    list-style-type: none;
    text-align: center;
    background-color: yellow;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 3px solid black;
    overflow: hidden;
    max-height: 20px;
    animation: sizer 2s 0s 1 forwards ease-in-out;
}
.butonlab:first-child{
    margin-top: 30px;
}
.butonlab:last-child{
    margin-bottom: 30px;
}
.butonlab:hover{ 
    cursor: pointer;
}
h3{
    margin: 10px auto;
    text-align: center;
}
a{
    text-decoration: none;
    user-select: none;
    word-wrap: unset;
    white-space: nowrap;
}
ol{
    background-color: white;
    border: 20px solid lightblue;
    border-radius: 40px;
}
@keyframes sizer{
    0%{
        width: 10px;
    }
    100%{
        width: 200px;
    }
   
}
