* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}
.main-block {
  width: 300px;
  height: 300px;
  border: 1px solid black;
    position: relative;
}
.house {
  width: 150px;
  height: 150px;
  background: coral;
    position: absolute;
    top:50%;
    left:25%;
}
.roof {
    width: 0;
    height: 0;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-bottom: 100px solid red;
    position: absolute;
    top:22%;
    left:14%;
}
.chimney {
  width: 20px;
  height: 60px;
  background: black;
        position: absolute;
    top:25%;
    left:27%;
}
.door {
   width: 60px;
  height: 90px;
  background: brown;
        position: absolute;
    z-index:1;
    top:70%;
    left:30%;
}
.window {
   width: 40px;
  height: 40px;
  background: cyan;
        position: absolute;
    z-index:1;
    top:70%;
    left:56%;
}