* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}
.main-block {
  margin: 10px auto;
  width: 600px;
  height: 600px;
  background-color: #81ccc7;
    position: relative;
    z-index: -100;
}
.clouds{
  position: absolute;
   width: 400px;
  height: 400px;
top: -100px;
right: 50px;
}
.world{
  position: absolute;
   width: 600px;
  height: 400px;
bottom: -18px;
right: 0px;
z-index: -1;
}
.water{
   position: absolute;
   width: 600px;
  height: 400px;
bottom: -183px;
z-index: 2;
}
.ship{
  position: absolute;
   width: 200px;
  height: 200px;
bottom: 25px;
left: 10px;
z-index: 0;
}